<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th {
            border: 1px solid black;
            padding: 5px;
        }

        .modal-table {
            margin: 100px;
            position: absolute;
            top: 50px;
            left: 50px;
        }

        .modal-wrapper {
            position: relative;
        }
    </style>
    <script src="/static/script.js" defer type="module"></script>
</head>
<body>
    <button type="button" class="prev-btn">Previous</button>
    <button type="button" class="next-btn">Next</button>
    <table class="table">
    </table>
    <div class="modal-wrapper"></div>
</body>
</html>